<div class="page-error">
    <div class="error">
        <div class="error__code">{{ errorCode }}</div>
        <div class="error__text">{{ errorText }}</div>
        <a href="/main_chart.html" class="link error__link">Назад к чатам</a>
    </div>
</div>
