.form {
    padding-top: 24px;
    margin: 0;
    box-sizing: border-box;
    &__link {
        margin-top: 14px;
    }
    .input-wrap {
        position: relative;
    }
    &__error {
        position: absolute;
        color: var(--main-red);
        font-family: 'InterRegular', serif;
        font-size: 10px;
        line-height: 8px;
        left: 0;
        bottom: -10px;
    }
    .label {
        position: absolute;
        z-index: 1;
        top: 10px;
        font-size: 13px;
        line-height: 13px;
        display: block;
        font-family: 'InterMedium', serif;
        color: var(--text-light);
        transition: all .3s;
        &_active {
            top: -6px;
            font-size: 9px;
            line-height: 9px;
        }
    }
    .input {
        margin-top: 20px;
        display: block;
        width: 100%;
        padding: 7px 0;
        outline: transparent;
        border: none;
        border-bottom: 1px solid var(--main-blue);
        font-family: 'InterMedium', serif;
        font-size: 13px;
        line-height: 13px;
        color: var(--text-dark);
    }
    .button {
        &__login {
            margin-top: 170px;
        }
        &__signin {
            margin-top: 90px;
        }
    }
}
