.login,
.signin {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    .form-wrap {
        height: 450px;
    }
}
.signin {
    .form-wrap {
        height: 615px;
    }
}
