:root {
    --primary-color: #333;
    --main-bggrey: #EFEFEF;
    --text-light: #999999;
    --text-dark: #1E1E1E;
    --aside-bg: #FBFBFB;
    --border: 1px solid #EAEAEA;
    --main-blue: #3369F3;
    --light-blue:#E4EDFD;
    --main-red: #FF0000;
}
