<html>
    <head>
        <link rel="stylesheet" href="/src/pages/login/style.css">
    </head>
    <body>
        <div id="login" class="login"></div>
        <script src="index.js" type="module"></script>
    </body>
</html> 