<div class="login">
    <div class="form-wrap">
        <div class="title">Вход</div>
        <form class="form">
            {{{inputLogin}}}
            {{{inputPassword}}}
            <div class="buttons-wrap">
                {{{ Button text="Авторизоваться"}}}
                <a href="/signin.html" class="link">Нет аккаунта?</a>
            </div>
        </form>
    </div>
</div>
