<div class="login">
    <div class="form-wrap">
        <div class="title">Вход</div>
        <form class="form">
            {{{ loginInput }}}
            {{{ passwordInput }}}
            <div class="buttons-wrap">
                {{{ button }}}
                <a href="/signin.html" class="link">Нет аккаунта?</a>
            </div>
        </form>
    </div>
</div>
