<div class="login">
    <div class="form-wrap">
        <div class="title">Вход</div>
        <form class="form">
            {{#each loginInputs}}
                {{> inputItem 
                    type = this.type
                    id = this.id 
                    name = this.name 
                    label = this.label 
                    errorText = this.errorText
                }}
            {{/each}}
            <button class="button">Авторизоваться</button>
            <a href="/signin.html" class="link">Нет аккаунта?</a>
        </form>
    </div>
</div>
