<div class="add-message">
    {{{clipIcon}}}
    {{{Input 
        class='add-message__input'
        name='message'
        type="text"
        placeholder="Сообщение"
    }}}
    {{{ArrowIcon class='button__arrow_right'}}}
    {{{addMessageModal}}}
</div>
