
<html>
    <head>
        <script src="src/index.js" type="module"></script>
    </head>
    <body>
        <div>Список страниц:</div>
        <ul>
            <li>
                <a href="/src/pages/main_chart/index.hbs">Основная страница чата</a>
            </li>
            <li>
                <a href="/src/pages/signin/index.hbs">Регистрация</a>
            </li>
            <li>
                <a href="/src/pages/login/index.hbs">Авторизация</a>
            </li>
            <li>
                <a href="#">Страница настройки пользователей</a>
            </li>
            <li>
                <a href="/src/pages/404/index.hbs">Страница 404</a>
            </li>
            <li>
                <a href="/src/pages/500/index.hbs">Страница 5**</a>
            </li>
        </ul>
    </body>
</html> 