<div class="friend">
    <div class="friend__wrap">
        {{{AvatarItem}}}
        <div class="name friend__name">Иван</div>
    </div>
    <div class="friend__dottes">
        {{{DottesIcon}}}
    </div>
    {{#if isActiveTopLine}}
        <div class="friend__change-modal">
            <div class="friend__change-item">
                {{{CrossIcon}}}
                <span class="friend__change-text">Добавить пользователя</span>
            </div>
            <div class="friend__change-item">
                {{{CrossIcon class="button__cross_rotate"}}}
                <span class="friend__change-text">Удалить пользователя</span>
            </div>
        </div>
    {{/if}}
</div>
