<html>
    <head>
        <link rel="stylesheet" href="/src/pages/500/style.css">
    </head>
    <body>
        <div id="page-500" class="page-500"></div>
        <script src="index.js" type="module"></script>
    </body>
</html> 