<div class="profile">
    <aside class="profile__aside aside">
        <a href="/main_chart.html">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#3369F3"/>
              <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
              <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
            </svg>
        </a>
    </aside>
    <div class="profile__info">
        {{>avatarItem class="profile__avatar"}}
        <form class="profile__form">
          {{#each profileInputsObj}}
              {{> inputItem 
                  type=this.type
                  id=this.id 
                  name=this.name 
                  label=this.label 
                  placeholder=this.placeholder
                  readonly=this.readonly
              }}
          {{/each}}
        </form>
        <a href="" class="link profile__link">Изменить данные</a>
        <a href="" class="link profile__link">Изменить пароль</a>
        <button class="link profile__exit">Выйти</button>
    </div>
</div>