<div class="signin">
    <div class="form-wrap">
        <div class="title">Регистрация</div>
        <form class="form">
            {{#each signinInputsObj}}
                {{> inputItem 
                    type=this.type
                    id=this.id 
                    name=this.name 
                    label=this.label 
                    errorText=this.errorText
                }}
            {{/each}}
            <div class="buttons-wrap">
                <button class="button">Зарегистрироваться</button>
                <a href="#" class="link">Войти</a>
            </div>
        </form>
    </div>
</div>
