<html>
    <head>
        <link rel="stylesheet" href="/src/pages/signin/style.css">
    </head>
    <body>
        <div id="signin" class="signin"></div>
        <script src="index.js" type="module"></script>
    </body>
</html> 