<div class="friend">
    <div class="friend__wrap">
        {{>avatarItem}}
        <div class="name friend__name">Иван</div>
    </div>
    <div class="friend__dottes">
        {{>dottesIcon}}
    </div>
</div>