<html>
    <head>
        <link rel="stylesheet" href="/src/pages/404/style.css">
    </head>
    <body>
        <div id="page-404" class="page-404"></div>
        <script src="index.js" type="module"></script>
    </body>
</html> 