<div class="friend__change-modal">
    <div class="friend__change-item">
        {{{CrossIcon}}}
        <span class="friend__change-text">Добавить пользователя</span>
    </div>
    <div class="friend__change-item">
        {{{CrossIcon class="button__cross_rotate"}}}
        <span class="friend__change-text">Удалить пользователя</span>
    </div>
</div>
