<div>Список страниц:</div>
<ul>
    <li>
        <a href="/main_chart.html">Основная страница чата</a>
    </li>
    <li>
        <a href="/signin.html">Регистрация</a>
    </li>
    <li>
        <a href="/login.html">Авторизация</a>
    </li>
    <li>
        <a href="/profile.html">Страница настройки пользователей</a>
    </li>
    <li>
        <a href="/page_404.html">Страница 404</a>
    </li>
    <li>
        <a href="/page_500.html">Страница 5**</a>
    </li>
    <li>
        <a href="/test.html">test</a>
    </li>
</ul>
