@import url('/src/stylesModules/_variables.scss');
@import url('/src/stylesModules/_error_page.scss');
@import url('/src/stylesModules/_fonts.scss');
@import url('/src/stylesModules/_formstyle.scss');
@import url('/src/stylesModules/_login.scss');
@import url('/src/stylesModules/_main_chart.scss');
@import url('/src/stylesModules/_profile.scss');

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: block;
  cursor: pointer;
  border: none;
  color: white;
  font-family: 'InterMedium', serif;
  padding: 12px 0;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  background: #3369F3;
  border-radius: 8px;
}
