<html>
    <head>
        <link rel="stylesheet" href="/src/pages/main_chart/style.css">
    </head>
    <body>
        <div id="main-chart"></div>
        <script src="index.js" type="module"></script>
    </body>
</html> 